<a href="https://colab.research.google.com/github/Nikittha-Nune/EDUTRAION-Internship/blob/main/Titanic_survival_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


df = pd.read_csv("/content/Titanic-Dataset.csv")


print("Sample data:")
print(df.head())


df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)


df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)


le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])         # male=1, female=0
df['Embarked'] = le.fit_transform(df['Embarked'])  # C=0, Q=1, S=2


X = df.drop('Survived', axis=1)
y = df['Survived']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)


predictions = model.predict(X_test)


acc = accuracy_score(y_test, predictions)
print(f"\nModel Accuracy: {acc * 100:.2f}%")


print("\nPredictions (first 10 passengers in test set):")
for i in range(25):
    result = "Survived" if predictions[i] == 1 else "Not Survived"
    print(f"Passenger {i+1}: {result}")

Sample data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

/tmp/ipython-input-9-231800922.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-9-231800922.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

Model Accuracy: 82.12%

Predictions (first 10 passengers in test set):
Passenger 1: Not Survived
Passenger 2: Not Survived
Passenger 3: Not Survived
Passenger 4: Survived
Passenger 5: Not Survived
Passenger 6: Survived
Passenger 7: Survived
Passenger 8: Not Survived
Passenger 9: Survived
Passenger 10: Survived
Passenger 11: Not Survived
Passenger 12: Not Survived
Passenger 13: Not Survived
Passenger 14: Not Survived
Passenger 15: Not Survived
Passenger 16: Survived
Passenger 17: Not Survived
Passenger 18: Survived
Passenger 19: Not Survived
Passenger 20: Not Survived
Passenger 21: Not Survived
Passenger 22: Survived
Passenger 23: Not Survived
Passenger 24: Not Survived
Passenger 25: Not Survived